.main{
    background-color: #dbdcdb;
}
.main .todo-main h2{
    color:#1f2833;
    text-transform:uppercase;
    text-align: center;
    padding:25px 0 0 0;
    /* font-family: ; not sure yet */
}
.todo-main p{
    text-align: justify;
    padding:20px 10px;
}
.todo-main .form{
    padding:50px 10px 0 10px;
}
.todo-main .form input,select{
    width: 100%;
    padding:5px 5px;
    text-transform: uppercase;
}
.todo-main .form ::placeholder{
    color:gray
}