.main{
    background-color: #dbdcdb;
}
.main .BMI-main h2{
    color:#1f2833;
    text-transform:uppercase;
    text-align: center;
    padding:25px 0 0 0;
    /* font-family: ; not sure yet */
}
.BMI-main p{
    text-align: justify;
    padding:20px 10px;
}
.BMI-main .form{
    padding:50px 10px 0 10px;
}
.BMI-main .form input,select{
    width: 100%;
    padding:5px 5px;
    text-transform: none;
}
.BMI-main .form ::placeholder{
    color:gray
}
.row .col-12 .custom-btn{
    color: #66fcf1;
    background-color: rgba(0, 0, 0,0.7);
    border-color: #66fcf1;
    box-shadow: 2px 2px;
}
.row .col-12 .custom-btn:hover{
    color: #45a29e;
}