.budget-main{
    background-color: rgba(0, 0, 0,0.8);
}
.budget-main  h2{
    color:#66fcf1;
    text-transform:uppercase;
    text-align: center;
    padding:25px 0 0 0;
    /* font-family: ; not sure yet */
}
.budget-main p{
    text-align: justify;
    padding:20px 10px;
}
.budget-main .form{
    padding:10px 10px 0 10px;
}
.budget-main .form label{
    color:white
}
.budget-main .form input{
    width: 100%;
    padding:5px 5px;
    text-transform: none;
}
.budget-main .form ::placeholder{
    color:gray
}
.budget-main .form .card .card-header{
    background-color: rgba(0, 0, 0,0.8);
    color:white
}

.row .col-12 .custom-btn{
    color: #66fcf1;
    background-color: rgba(0, 0, 0,0.7);
    border-color: #66fcf1;
    box-shadow: 2px 2px;
}
.row .col-12 .custom-btn:hover{
    color: #45a29e;
}

/*edit for JS*/
.list_contain{
    display: flex;
    padding:10px 0;
    margin:0;
    border-bottom:1px solid #dbdcdb
}
.list .list_item{
    width: 70%;
    color:black;
    padding:0 0;
    margin:0;
}
.list .list_amt{
    width:20%;
    color:black;
    padding:0 0;
    margin:0;
}
.fa-trash{
    width:10%;
    margin-top:5px;
    color:red;
    cursor: pointer;
}


.content{
    padding-left: 15px;
}
.content li{
    list-style: none;
    color:white;
}
.content i{
    color:#66fcf1;margin-right:8px
}


