.main{
    background-color: #dbdcdb;
}
.main .todo-main h2{
    color:#1f2833;
    text-transform:uppercase;
    text-align: center;
    padding:25px 0 0 0;
    /* font-family: ; not sure yet */
}
.todo-main p{
    text-align: justify;
    padding:20px 10px;
}

.row .col-12 .custom-btn{
    color: #66fcf1;
    background-color: rgba(0, 0, 0,0.7);
    border-color: #66fcf1;
    box-shadow: 2px 2px;
}
.row .col-12 .custom-btn:hover{
    color: #45a29e;
}

.col-12 .mt-4 .jumbotron{
    background-color: #1f2833;
    color: #66fcf1;
    padding-bottom: 10px;
}

.GradeContainer{
    border: 1px solid #1f2833;
    font-size: 20px;
    margin:5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.grades{
    padding: 5px;
    width:80%;
    color: #45a29e;
    list-style: none;
    text-transform: uppercase;
}
#list_item{ 
    text-align: left;
    font-size: 2rem; 
    list-style: none;
    padding: 0;
    padding-bottom: 5px;
    background-color: #f0f5f5;
    border-radius: 5px;
  }
 
.mt-4 .GradeContainer h4{
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 5px;
    color: #45a29e;
}