@font-face {
    font-family: 'andromedamedium';
    src: url('andromeda-er2n-webfont.woff2') format('woff2'),
         url('andromeda-er2n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.card .card-body a{
    background-color: rgb(48, 122, 117);
    border:1px solid #66FCF1;
    color: white;
    outline: none;
}
body{
    background-color: #c5c6c7;
}
.heading{
    font-family: 'andromedamedium' ;
    color: ;
}