.main{
    background-color: #dbdcdb;
}
.main .todo-main h2{
    color:#1f2833;
    text-transform:uppercase;
    text-align: center;
    padding:25px 0 0 0;
    /* font-family: ; not sure yet */
}
.todo-main p{
    text-align: justify;
    padding:20px 10px;
}

.head-ing{ 
    text-align: center;
    font-size: 3rem;
    padding:25px 0;
 } 
   
 #list_item{ 
   text-align: left;
   font-size: 2rem; 
   list-style: none;
   padding: 0;
   padding-bottom: 5px;
   border-radius: 5px;
 } 
 .row .col-12 .row .col-12 .row .custom-input{
     padding-right: 0px;
 }

 .row .col-12 .row .col-12 .row .custom-btn{
    padding-left: 0px;
 }

 .row .col-12 .row .col-12 .row .custom-btn .btn-primary{
    color: #66fcf1;
    background-color: #1f2833;
    border-color: #66fcf1;
    box-shadow: 2px 2px;
 }
 .row .col-12 .row .col-12 .row .custom-btn .btn-primary:hover{
    color: #45a29e;
}
.taskconatiner{
    border-bottom: 1px solid #1f2833;
    font-size: 20px;
    margin:5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.task{
    width:80%;
    color: #45a29e;
}
.fa-trash-o{
    opacity : 0;
    cursor: pointer;
}
.fa-check{
    opacity : 0;
    cursor: pointer;
}

.taskconatiner:hover .fa-trash-o{
    opacity: 1;
    color:#45a29e;
    color:red;
}
.taskconatiner:hover .fa-check{
    opacity: 1;
    color:#66fcf1;
    color:green
}
 @media screen and (max-width: 576px) {
    .row .col-12 .row .col-12 .row .custom-input{
        padding-right: 15px;
    }
   
    .row .col-12 .row .col-12 .row .custom-btn{
       padding-left: 15px;
       margin-top: 10px;
    }

    /* dont touch hover doesnt work on mobile devices and tablets -_- */
    .fa-trash-o{
        opacity : 1;
        cursor: pointer;
    }
    .fa-check{
        opacity : 1;
        cursor: pointer;
    }
  }






