.main{
    background-color: #dbdcdb;
}
.main .todo-main h2{
    color:#1f2833;
    text-transform:uppercase;
    text-align: center;
    padding:25px 0 0 0;
    /* font-family: ; not sure yet */
}
.todo-main p{
    text-align: justify;
    padding:20px 10px;
}

.head-ing{ 
    text-align: center; 
    /* margin: 5%;  */
    font-size: 3rem;
 } 
   
 #list_item{ 
   text-align: left;
   font-size: 2rem; 
   list-style: none;
   padding: 0;
   padding-bottom: 5px;
   background-color: #f0f5f5;
   border-radius: 5px;
 }

 .note{
     background-color: #adadad;
     border-radius: 5px;
     padding: 0px 10px;
     margin-top: 5px;
     margin-left: 5px;
     margin-right: 5px;
 }
   
.note:hover{ 
   color:#45a29e;  
   transition: 0.5s ease; 
   cursor: pointer; 
 } 

 .custom-input{
     padding-right: 0px !important;
 }

 .custom-btn{
    padding-left: 0px !important;
 }

 @media screen and (max-width: 576px) {
    .custom-input{
        padding-right: 15px !important;
    }
   
    .custom-btn{
       padding-left: 15px !important;
       margin-top: 10px;
    }
  }

.fa-trash-o{
    opacity : 0;
    cursor: pointer;
}
.fa-check{
    opacity : 0;
    cursor: pointer;
}

.taskconatiner:hover .fa-trash-o{
    opacity: 1;
    color:red;
}
.taskconatiner:hover .fa-check{
    opacity: 1;
    color:green;
}
.taskconatiner{
    border-bottom: 1px solid #adadad;
    font-size: 20px;
    margin:5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.task{
    width:80%;
}

